@font-face {
  font-family: PacFont;
  src: url("fonts/pacfont/pac-font.ttf"); }

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: RobotoBold;
  src: url("fonts/Roboto-Bold.ttf"); }

html, body {
  background: #049bd4;
  font-family: Roboto;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0px; }

h1 {
  color: #026c94; }

.hidden {
  opacity: 0; }

#logo {
  position: absolute;
  left: 20px;
  top: 20px; }
  #logo img {
    height: 60px; }

input, button {
  outline: 0;
  border: 0px;
  color: #024d6a;
  background: transparent; }
  input::-webkit-input-placeholder, button::-webkit-input-placeholder {
    color: #037ca9; }
  input::-moz-placeholder, button::-moz-placeholder {
    color: #037ca9; }
  input:-moz-placeholder, button:-moz-placeholder {
    color: #037ca9; }
  input:-ms-input-placeholder, button:-ms-input-placeholder {
    color: #037ca9; }

button {
  border: 2px solid #037ca9;
  font-family: Roboto;
  border-radius: 0px;
  cursor: pointer;
  font-size: 18px;
  min-height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  color: #037ca9;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  button:hover {
    border: 2px solid white;
    color: white; }

#intro {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  #intro.hide {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s; }
  #intro h1 {
    font-size: 72px;
    line-height: 1.2;
    text-align: center;
    font-family: PacFont; }
  #intro #pacman-animation {
    width: 100%;
    height: 140px;
    position: relative; }
    #intro #pacman-animation > div {
      width: 300px;
      left: -300px;
      position: absolute;
      -webkit-transition: left 7s linear;
      -moz-transition: left 7s linear;
      transition: left 7s linear; }
      #intro #pacman-animation > div.active {
        left: calc(100% + 10px); }
        #intro #pacman-animation > div.active #pac-peter {
          background-image: url("../assets/img/peter.png"); }
      #intro #pacman-animation > div > span {
        width: 140px;
        height: 140px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat; }
  #intro #pac-peter {
    background-image: url("../assets/img/peter-mirror.png"); }
  #intro #secret-satoshi {
    background-image: url("../assets/img/secret-satoshi-logo.png"); }
  #intro button {
    margin-top: 80px; }

form {
  position: absolute;
  height: 100%;
  width: 100%; }
  form > li {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    visibility: hidden;
    margin-top: -54px;
    list-style: none;
    width: 60%;
    left: 20%;
    top: 50%; }
    form > li label, form > li input {
      opacity: 0;
      top: 500px;
      width: 100%;
      display: block;
      font-size: 48px;
      position: relative;
      font-family: RobotoBold; }
    form > li label {
      color: white; }
    form > li input {
      font-size: 64px;
      border-bottom: 2px solid #026c94; }
    form > li.active {
      visibility: visible; }
  form.down > li label, form.down > li input {
    top: 500px;
    opacity: 0; }
  form.down > li.active label, form.down > li.active input {
    opacity: 1;
    top: 0; }
  form.down > li.active label {
    top: -20px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s; }
  form.down > li.active input {
    -webkit-transition: all 0.5s 0.1s;
    -moz-transition: all 0.5s 0.1s;
    transition: all 0.5s 0.1s; }
  form.down > li.hide label, form.down > li.hide input {
    top: -500px;
    opacity: 0; }
  form.up > li label, form.up > li input {
    top: -500px;
    opacity: 0; }
  form.up > li.active label, form.up > li.active input {
    opacity: 1;
    top: 0; }
  form.up > li.active label {
    top: -20px;
    -webkit-transition: all 0.5s 0.1s;
    -moz-transition: all 0.5s 0.1s;
    transition: all 0.5s 0.1s; }
  form.up > li.active input {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s; }
  form.up > li.hide label, form.up > li.hide input {
    top: 500px;
    opacity: 0; }
  form .error {
    top: 25%;
    left: 20%;
    opacity: 0;
    color: #e88197;
    position: absolute;
    font-family: RobotoBold;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    form .error.active {
      opacity: 1; }

input[type="radio"] {
  opacity: 0 !important;
  cursor: pointer; }
  input[type="radio"] + label {
    cursor: pointer;
    font-size: 64px;
    color: #037ca9;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s; }
    input[type="radio"] + label:before {
      border: 2px solid white;
      display: inline-block;
      margin-right: 20px;
      position: relative;
      height: 30px;
      width: 30px;
      content: '';
      top: -5px; }
    input[type="radio"] + label:after {
      left: 0;
      top: 15px;
      opacity: 0;
      font-size: 42px;
      content: '\f00c';
      position: absolute;
      font-family: 'FontAwesome';
      -webkit-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      transition: opacity 0.3s; }
  input[type="radio"]:checked + label {
    color: #024d6a;
    position: relative; }
    input[type="radio"]:checked + label:after {
      opacity: 1; }

.dots {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  right: 100px;
  top: 50%; }
  .dots li {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    background-color: #024d6a;
    border-radius: 50%;
    margin-bottom: 20px;
    list-style: none;
    cursor: pointer;
    height: 20px;
    width: 20px; }
    .dots li:hover, .dots li.active {
      background-color: white; }

.nav {
  position: absolute;
  bottom: 50px;
  right: 90px; }
  .nav > li {
    float: left;
    left: -10px;
    cursor: pointer;
    list-style: none;
    position: relative; }
    .nav > li:before {
      font-size: 24px;
      content: '\f060';
      color: #037ca9;
      font-family: 'FontAwesome';
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      transition: color 0.3s; }
    .nav > li.next {
      left: 10px; }
      .nav > li.next:before {
        content: '\f061'; }
    .nav > li:hover:before {
      color: #024d6a; }
