@font-face {
  font-family: PacFont;
  src: url("fonts/pacfont/pac-font.ttf"); }

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: RobotoBold;
  src: url("fonts/Roboto-Bold.ttf"); }

html, body {
  background: #049bd4;
  font-family: Roboto;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0px; }

.hidden {
  opacity: 0; }

button {
  outline: 0;
  background-color: transparent;
  border: 2px solid black;
  font-family: Roboto;
  border-radius: 0px;
  cursor: pointer;
  font-size: 18px;
  min-height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  button:hover {
    border: 2px solid white;
    color: white; }

#intro {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  #intro.hide {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s; }
  #intro h1 {
    font-size: 72px;
    line-height: 1.2;
    text-align: center;
    font-family: PacFont; }
  #intro #pacman-animation {
    width: 100%;
    height: 140px;
    position: relative; }
    #intro #pacman-animation > div {
      width: 300px;
      left: -300px;
      position: absolute;
      -webkit-transition: left 7s linear;
      -moz-transition: left 7s linear;
      transition: left 7s linear; }
      #intro #pacman-animation > div.active {
        left: calc(100% + 10px); }
        #intro #pacman-animation > div.active #pac-peter {
          background-image: url("../assets/img/peter.png"); }
      #intro #pacman-animation > div > span {
        width: 140px;
        height: 140px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat; }
  #intro #pac-peter {
    background-image: url("../assets/img/peter-mirror.png"); }
  #intro #secret-satoshi {
    background-image: url("../assets/img/secret-satoshi-logo.png"); }
  #intro button {
    margin-top: 80px; }

form {
  position: absolute;
  height: 100%;
  width: 100%; }
  form > li {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    visibility: hidden;
    list-style: none;
    width: 50%;
    left: 25%;
    top: 50%; }
    form > li label, form > li input {
      opacity: 0;
      top: 300px;
      display: block;
      position: relative;
      font-family: RobotoBold; }
    form > li label {
      color: white; }
    form > li.active {
      visibility: visible; }
  form.down > li label, form.down > li input {
    top: 300px;
    opacity: 0; }
  form.down > li.active label, form.down > li.active input {
    opacity: 1;
    top: 0; }
  form.down > li.active label {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s; }
  form.down > li.active input {
    -webkit-transition: all 0.5s 0.1s;
    -moz-transition: all 0.5s 0.1s;
    transition: all 0.5s 0.1s; }
  form.down > li.hide label, form.down > li.hide input {
    top: -300px;
    opacity: 0; }
  form.up > li label, form.up > li input {
    top: -300px;
    opacity: 0; }
  form.up > li.active label, form.up > li.active input {
    opacity: 1;
    top: 0; }
  form.up > li.active label {
    -webkit-transition: all 0.5s 0.1s;
    -moz-transition: all 0.5s 0.1s;
    transition: all 0.5s 0.1s; }
  form.up > li.active input {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s; }
  form.up > li.hide label, form.up > li.hide input {
    top: 300px;
    opacity: 0; }
