@font-face {
    font-family: PacFont;
    src: url('fonts/pacfont/pac-font.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: RobotoBold;
    src: url('fonts/Roboto-Bold.ttf');
}