form {
  position: absolute;
  height: 100%;
  width: 100%;
  > li {
    @include transform(translateY(-50%));
    position: absolute;
    visibility: hidden;
    margin-top: -54px;
    list-style: none;
    width: 60%;
    left: 20%;
    top: 50%;
    label, input, .overview > p {
      opacity: 0;
      top: 500px;
      width: 100%;
      display: block;
      font-size: 48px;
      position: relative;
      font-family: RobotoBold;
    }
    label {
      color: white;
    }
    input {
      font-size: 64px;
      border-bottom: 2px solid $dark-blue;
      &[type="submit"] {
        cursor: pointer;
        @include transition(all 0.3s);
        &:hover {
          color: white;
          border-bottom: 2px solid white;
        }
      }
    }
    &.active {
      visibility: visible;
    }
  }
  &.down {
    > li {
      label, input, .overview > p {
        top: 500px;
        opacity: 0;
      }
      &.active {
        label, input, .overview > p {
          opacity: 1;
          top: 0;
        }
        label {
          top: -20px;
          @include transition(all 0.5s);
        }
        input {
          @include transition(all 0.5s 0.1s);
        }
        .overview > p {
          &:first-child {
            @include transition(all 0.5s 0.2s);   
          }
          &:nth-child(2) {
            @include transition(all 0.5s 0.3s); 
          }
          &:nth-child(3) {
            @include transition(all 0.5s 0.4s); 
          }
        }
      }
      &.hide {
        label, input, .overview > p {
          top: -500px;
          opacity: 0;
        }
      }
    }
  }
  &.up {
    > li {
      label, input, .overview > p {
        top: -500px;
        opacity: 0;
      }
      &.active {
        label, input, .overview > p {
          opacity: 1;
          top: 0;
        }
        label {
          top: -20px;
          @include transition(all 0.5s 0.1s);
        }
        input {
          @include transition(all 0.5s);
        }
        .overview > p {
          &:first-child {
            @include transition(all 0.5s 0.1s);   
          }
          &:nth-child(2) {
            @include transition(all 0.5s 0.08s); 
          }
          &:nth-child(3) {
            @include transition(all 0.5s 0.06s); 
          }
        }
      }
      &.hide {
        label, input, .overview > p {
          top: 500px;
          opacity: 0;
        }
      }
    }
  }
  .error {
    top: 25%;
    left: 20%;
    opacity: 0;
    color: $red;
    position: absolute;
    font-family: RobotoBold;
    @include transition(opacity 0.3s);
    &.active {
      opacity: 1;
    }
  }
  .overview {
    margin-bottom: 90px;
    p {
      font-size: 24px !important;
      color: white;
      span {
        color: $darkest-blue;
      }
    }
  }
}

input[type="radio"] {
  opacity: 0 !important;
  cursor: pointer;
  & + label {
    cursor: pointer;
    font-size: 64px;
    color: $medium-blue;
    @include transition(color 0.3s);
    &:before {
      border: 2px solid white;
      display: inline-block;
      margin-right: 20px;
      position: relative;
      height: 30px;
      width: 30px;
      content: '';
      top: -5px;
    }
    &:after {
      left: 0;
      top: 15px;
      opacity: 0;
      font-size: 42px;
      content: '\f00c';
      position: absolute;
      font-family: 'FontAwesome';
      @include transition(opacity 0.3s);
    }
  }
  &:checked + label {
    color: $darkest-blue;
    position: relative;
    &:after {
      opacity: 1;
    }
  }
}

.dots {
  @include transform(translateY(-50%));
  position: absolute;
  right: 100px;
  top: 50%;
  li {
    @include transition(background-color 0.3s);
    background-color: $darkest-blue;
    border-radius: 50%;
    margin-bottom: 20px;
    list-style: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
    &:hover, &.active {
      background-color: white;
    }
  }
}

.nav {
  position: absolute;
  bottom: 50px;
  right: 90px;
  > li {
    float: left;
    left: -10px;
    cursor: pointer;
    list-style: none;
    position: relative;
    &:before {
      font-size: 24px;
      content: '\f060';
      color: $medium-blue;
      font-family: 'FontAwesome';
      @include transition(color 0.3s);
    }
    &.next {
      left: 10px;
      &:before {
        content: '\f061';
      }
    }
    &:hover {
      &:before {
        color: $darkest-blue;
      }
    }
  }
}