#intro {
  height: 100%;
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);
  h1 {
    font-size: 72px;
    line-height: 1.2;
    text-align: center;
    font-family: PacFont;
  }

  #pacman-animation {
    width: 100%;
    height: 140px;
    position: relative;
    > div {
      width: 300px;
      left: -300px;
      position: absolute;
      @include transition(left 7s linear);
      &.active {
        left: calc(100% + 10px);
        #pac-peter {
          background-image: url('../assets/img/peter.png');
        }
      }
      > span {
        width: 140px;
        height: 140px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  #pac-peter {
    background-image: url('../assets/img/peter-mirror.png');
  }
  #secret-satoshi {
    background-image: url('../assets/img/secret-satoshi-logo.png'); 
  }
}